export(GreedyMiner)
export(mine)
export(gm_control)
export(profile_data)
export(methods_registry)
export(register_method)
export(associations)
export(predictability)
export(conditional_associations)
export(interactions)
export(rules)
export(joint_dependencies)
export(discoveries)
export(coverage)
export(stability)
export(diagnostics)
export(dependency_graph)
export(report)
export(write_results)
export(resume_mine)
export(simulate_dependencies)
export(benchmark_miner)
S3method(print,gm_result)
S3method(summary,gm_result)
S3method(as.data.frame,gm_result)
S3method(plot,gm_result)
S3method(predict,gm_result)
importFrom(stats,predict)
importFrom(utils,head)
